body{
  margin:0;
  background:url("./duckhunt-bg-4k.png") center/cover no-repeat fixed;
  cursor:url("./target.png"), auto;
  overflow:hidden;
  user-select:none;
  font-family:gameFont;
}

@font-face{
  font-family:gameFont;
  src:url("game-font.otf");
}

#ui{
  position:fixed;
  top:10px;
  left:10px;
  color:#fff;
  font-size:22px;
  z-index:10;
}

#homeBtn{
  position:fixed;
  top:10px;
  right:10px;
  font-size:18px;
  padding:8px 14px;
  border-radius:12px;
  border:none;
  cursor:pointer;
}
